{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}


<section>
    <div class="mt-5 mb-5 titre-h3">
        <h2>Lorem ipsum dolor sit amet, consectetur adipis </h2>
    </div>
    <div class="mt-5 mb-5 container">
        <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipis
            Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet,
            consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum
            dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur
            adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit
            amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem
            ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur
            adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet,
            consectetur adipis Lorem ipsum dolor sit amet,
            consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis </p>
    </div>


</section>

<section>
    <div class="mt-5 mb-5 titre-h3">
        <h2>Lorem ipsum dolor sit amet </h2>
    </div>

    {{ form(form) }}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item carousel_card active">
                    {% for produit in produits %}
                    <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                            <img class="card-img-top" src="{{ vich_uploader_asset(produit,'imageFile') }}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">{{ produit.nom|raw }}</h4>
                                <p class="card-text text-pour-cards"> {{produit.getShortDescription|striptags('')|raw}}
                                </p>
                                <button class="btn my-2 my-sm-0" type="submit"><a href="{{ path('app_produit', {id: produit.id}) }}">Voir
                                        +</a></button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<a id="button" href="#top" class="back_to_top"><img src="./src/img/arrow-up.svg" alt="fleche"></a>
{% endblock %}
