{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}


<section class="mt-5 mb-5">
    <div class="section">
      <div class="image">
        <img class="imageProduit" src="{{ vich_uploader_asset(produits,'imageFile') }}" alt="" />
      </div>
      <div class="desc">
        <h2>{{ produits.nom|raw }}</h2>
        <h3>description</h3>
        <hr />
        <p style="width: fit-content;word-break:break-all">{{ produits.description|striptags('')|raw }}</p>
        <hr />

        <div class="tags">

          
          <a href="{{ path('app_produits_cat', {category: produits.category}) }}">{{ produits.category }}</a>
         
        </div>
        <hr />

        <div class="price">
          <h3>{{ produits.quantite|raw }}</h3>
          <h3>{{ produits.prix|raw }}€ TTC</h3>
        </div>
       
       <form action="" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_51LFddiGNPyMgbgU7vU9pebr0m58sTIHZKBQds5Xjv8hZj61unYC6kERVz0jUo53RiLfDKN5aMEu8ZGaCLSwULjDg00qHbPcYbZ"
                        data-amount="{{ produits.prix * 100}}"
                        data-name="{{ produits.nom }}"
                        data-description="{{ produits.description|raw }}"
                        data-image="{{ asset('images/products/logo.png') }}"
                        data-locale="auto">
                        
                    </script>
                </form>
        <div class="btn"><a href="#">COMMANDER</a></div>
      </div>
    </div>

    
  </section>



<a id="button" href="#top" class="back_to_top"><img src="./src/img/arrow-up.svg" alt="fleche"></a>
{% endblock %}
