{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
  <div class="success " role="success">{{ message }}</div>
{% endfor %}



{{form_start(form)}}
 

 


  



<div class="mt-5 mb-5 titre-h3">
    <h2>Prendre contact</h2>
  </div>

  <div class="container">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="exampleFormControlTextarea1" class="form-label">Prénom</label>
        {{ form_widget(form.prenom) }} 
        
      </div>
      <div class="col-md-6">
        <label for="exampleFormControlTextarea1" class="form-label">Nom</label>
        {{ form_widget(form.nom) }}  
        
      </div>
      <div class="col-12">
        <label for="exampleFormControlTextarea1" class="form-label">adresse</label>
        {{ form_widget(form.adresse) }} 
       
      </div>
      <div class="col-12">
        <label for="exampleFormControlTextarea1" class="form-label">Email</label>
        {{ form_widget(form.email) }}  
       
      </div>
      <div class="col-md-6">
        <label for="exampleFormControlTextarea1" class="form-label">Ville</label>
        {{ form_widget(form.ville) }}  
        
      </div>
      <div class="col-md-4">
        <label for="exampleFormControlTextarea1" class="form-label">Pays</label>
        {{ form_widget(form.pays) }}
      </div>

      <div class="col-12">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Votre Message...</label>
          {{ form_widget(form.message) }} 
        </div>
      </div>
      <div class="col-12">
        {{form_end(form)}} 
        
      </div>
    </form>
    
  </div>
{% endblock %}
